* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #210340;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

input {
    width: 100%;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
}

input[type=checkbox] {
    height: 25px;
}

button {
    width: 100%;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}

nav {
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 0.8fr;
    width: 100%;
    height: 70px;
    padding: 0 4%;
    margin: auto;
    background-color: #130026;
}

nav > a {
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
}

nav > a.active {
    max-width: 250px;
    padding: 1rem;
    color: #fb9a68;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(
            to right,
            #f0548d,
            #fb9a68
    ) 0 0 1 0;
}

nav > a:hover {
    max-width: 250px;
    padding: 1rem;
    color: #fb9a68;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(
            to right,
            #f0548d,
            #fb9a68
    ) 0 0 1 0;
}

nav > a:first-child {
    display: block;
    width: 170px;
}

nav > a:first-child:hover {
    max-width: unset;
    padding: unset;
    color: unset;
    border-width: unset;
    border-style: unset;
}

nav > a:last-child {
    justify-content: end;
}

nav > a:last-child:hover {
    max-width: unset;
    padding: unset;
    border-width: unset;
}

/*search section*//*search section*//*search section*//*search section*/
#search {
    display: grid;
    grid-template-columns: 10fr 2.5fr 10fr 10fr 10fr 5fr;
    grid-column-gap: 10px;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 1.5% 4%;
    color: white;
    background-color: #130026;
}

#search :nth-child(2) {
    color: #373737;
    background-color: white;
}

#buttonSearch {
    color: white;
    background-color: #f7498e;
}

/*temporary section*//*temporary section*//*temporary section*//*temporary section*/
section#temporary {
    width: 100%;
    padding: 0 4%;
    background-color: #130026;
}

section#temporary img {
    width: 100%;
    padding: 0 0;
}

/*main section*//*main section*//*main section*//*main section*/
main {
    display: grid;
    grid-template-columns: 20fr 50fr;
    grid-column-gap: 20px;
    color: white;
    background-color: #0000;
    width: 100%;
    padding: 2% 4%;
}

#filters {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
}

#results {
    padding: 10px;
}

/*result price options bar*/
#price-options {
    width: 100%;
    background-color: purple;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr;
}

#price-options > div {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 15px;
    text-align: left;
    text-transform: capitalize;
}

#price-options > div.active {
    background-color: #de1666;
}

#price-options > div > p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

#flights {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 10fr;
    grid-row-gap: 2vh;
}

#flight {
    width: 100%;
    padding: 0px 0px;
    display: grid;
    grid-template-columns: 80fr 20fr;
    border-radius: 5px;
    overflow: hidden;
}

#flight-route {
    color: black;
    background-color: white;
    padding: 20px 10px;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#flight-route .row {
    color: black;
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 5fr 10fr 5fr 8fr;
    grid-column-gap: 5fr;
    padding: 15px 10px;
}

#flight-buy {
    padding: 20px 10px;
    color: black;
    background-color: #f0f0f0;
    display: grid;
}

#flight-buy > div {
    font-size: 24px;
    font-weight: 700;
}

#flight-buy > div > p {
    font-size: 16px;
    font-weight: 300;
}

#flight-buy > button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #15986d;
    cursor: pointer;
    align-self: end;
}

#flight-buy > button:hover {
    background-color: #156941;
}

#flight-buy > button:active {
    background-color: #004b25;
}

.airline-icon {
    width: 40px;
}